.board {
  --boardHeight: calc(
    100dvh - var(--actionsHeight) - var(--footerHeight) - var(--pagePadding) * 2 - 16px
  );
  --boardPaddingY: 96px;
  --boardGap: 24px;

  position: relative;
  display: grid;
  gap: var(--boardGap);
  grid-template-columns: repeat(var(--tileGridX), 1fr);
  &.s {
    --tileGridX: 4;
    --tileGridY: 3;
  }
  &.m {
    --boardGap: 16px;
    --tileGridX: 8;
    --tileGridY: 4;
  }
  &.l {
    --boardGap: 12px;
    --tileGridX: 10;
    --tileGridY: 5;
  }
  .tile {
    --tileHeight: calc(
      (var(--boardHeight) - (var(--boardGap) * (var(--tileGridY) - 1))) / var(--tileGridY)
    );
    --tileWidth: calc(
      (100vw - var(--boardPaddingY) * 2 - (var(--boardGap) * (var(--tileGridX) - 1))) /
        var(--tileGridX)
    );
    --size: min(var(--tileHeight), var(--tileWidth));
    --fontSize: calc(var(--size) * 0.6);

    height: var(--size);
    width: var(--size);
    font-size: var(--fontSize);
  }
}

@media (orientation: portrait) {
  .board {
    --boardPaddingY: 16px;
    &.s {
      --boardGap: 12px;
      --tileGridX: 3;
      --tileGridY: 4;
    }
    &.m {
      --boardGap: 4px;
      --tileGridX: 4;
      --tileGridY: 8;
    }
    &.l {
      --boardGap: 4px;
      --tileGridX: 5;
      --tileGridY: 10;
    }
  }
}
