.settings-section {
  padding: 24px;
  .tiles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    .tile {
      height: 192px;
      width: 192px;
      transition: all 0.15s ease-in-out;
      &.selected {
        background-color: var(--primary);
        font-size: 96px;
        &.board-size {
          font-size: 36px;
        }
      }
      &.inactive {
        filter: grayscale(100%);
        font-size: 72px;
        &.board-size {
          font-size: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .settings-section {
    .tiles {
      flex-wrap: wrap;
      gap: 8px;
      .tile {
        height: 96px;
        width: 96px;
        &.selected {
          font-size: 48px;
          &.board-size {
            font-size: 18px;
          }
        }
        &.inactive {
          font-size: 36px;
          &.board-size {
            font-size: 14px;
          }
        }
      }
    }
  }
}
