.win-animation {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 9999;
  background-color: #00000099;
  .win-text {
    font-size: min(15dvh, 15vw);
    background: linear-gradient(90deg, gold, white, gold);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    animation: shine 2s linear infinite;
    text-align: center;
  }

  .trophy {
    font-size: min(20dvh, 20vw);
    animation: pulse 1.2s infinite;
  }
}
