@font-face {
  font-family: 'Readson';
  src: url('/fonts/readson.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root,
button {
  font-family: 'Readson', sans-serif;
}

h1,
p {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 64px;
}

h2 {
  font-weight: 400;
}
