:root {
  --primary: #76c5b3;
  --primaryHover: #70c9b4;
  --primaryShadow: #2d6155;
  --secondary: #8accf0;

  --pagePadding: 24px;
  --actionsHeight: 96px;
  --footerHeight: 64px;
  --background: #f4f4f4;
  --text: #222;
}

[data-theme='dark'] {
  --primary: #558a78;
  --primaryHover: #457464;
  --primaryShadow: #1e3a33;
  --secondary: #4d64a5;

  --background: #4b5258;
  --text: #f4f4f4;
}

@media (max-width: 768px) {
  :root {
    --pagePadding: 16px;
    --actionsHeight: 64px;
    --footerHeight: 32px;
  }
}
